body{
	background:	#8B0000;
	color: white;
}
#mostrador{
	margin: 40px auto 30px auto;
	width: 252px;
}
#mostrador img{
	padding-bottom: 20px;
}
p{
	float: left;
	margin-right: 10px;
}
.espaco{
	width: 80px;
	height: 80px;
	border: 2px solid white;
	float: left;
	text-align: center;
	padding-top: 10px;
}
.tabuleiro{
	width: 246px;
	height: 246px;
	margin: auto;
}
.reset{
	text-align: center;
}
.reset button{
	background: white;
	color: #8B0000;
	border-color: white;
	border-radius: 50px;
	padding: 3px;
	margin-top: 15px;
}